{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit {{ entry }}</h1>
    <p>{{ msg }}</p>
    <form action="{% url 'edit' entry %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="entry">Entry (markdown allowed)</label>
            <textarea class="form-control" id="entry" name="entry" rows="3" cols="20">{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}